/* Form Flow */
#flowPanel {
}

.formFlowName, .branchColumnCondition, .branchDefaultCondition {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}

.formFlowSelected {
	background-color: #FFF6CC;
	border: 1px solid #FFE0AA !important;
}

.formFlowBranchSelected {
	background-color: #FFF6CC;
}
.formFlowStage {
	cursor: pointer;
	text-align: center;
	border: 1px solid transparent;
	margin: 1px;
}

.formFlowSplit {
	border: 1px solid transparent;
}

.formFlowBranch {
	border: 1px solid transparent;
	margin: 1px;
}

.flowItem {
	padding-top: 5px;
	cursor: pointer;
	text-align: center;
}
	
.stagesList {
	min-height:100px;

}

.mainColumn {
	min-height: 100px;
	margin: 0 -1px;
}

.branchHeader {
	//background-color: #2299E2;
	margin: 0 -1px;
	width: 100%;
}
.branchColumn {
	border: solid #2299E2;
	border-width: 0px 1px 0 1px;
	min-height: 100px;
	margin-left: -1px;
	margin-right: -1px;
	float: left;
}
.branchColumnHeader {
	background-color: #51C5FF;
	min-height: 18px;
}
.branchFooter {
	//background-color: #2299E2;
	clear: both;
	margin: 0 -1px;
	width: 100%;
}

.splitHeader {
	//background-color: #1CA530;
	margin: 0 -1px;
}
.splitColumn {
	border: solid #1CA530;
	border-width: 0 1px 0 1px;
	min-height: 100px;
	margin: 0 -1px 0 -1px;
	float: left;
}
.splitColumnHeader {
	background-color: #0AE006;
	min-height: 18px;
}
.splitFooter{
	//background-color: #1CA530;
	clear: both;
	margin: 0 -1px;
}

.columnsList {
	min-height: 18px;
}

#assignUserGroupDialog label ,  #assignUserGroupDialog input, #assignUserGroupDialog select {
	display: block;
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;

}

#assignUserGroupDialog label{
	text-align: right;
	width: 75px;
	padding-right: 20px;

}

#assignUserGroupDialog br{
	clear:left;
}

#assignUserGroupDialog table{
	width: 100%;
	border: 1px black solid;
	border-spacing: 0px;
}

#userGroupFilter {
	width: 190px;
}

#userGroupFullList {
	float:left;
	width: 190px;
}

#userGroupIncludeList, #userGroupExcludeList {
	width: 190px;
}

/* branch split */
.curly {
	height: 25px;
	margin: 0px -2px 0px -2px;
}

.flowItemTooltip {
	background-color: #E0ECFF;
	border:1px solid #2F67B1;
	padding: 3px;
}
.tooltipLabel {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #2F67B1;
	vertical-align: top;
}
.tooltipText {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #2F67B1;
	vertical-align: top;
}