<?xml version='1.0' encoding='UTF-8'?>
<Menus>
  <Menu name="HALP_AUDIT_INSPECTION" displayLabel="Audit" fullpath="Audit" priority="100" microservice="Yes">
    <MenuItems>
      <MenuItem displayLabel="Cancel" url="/hcsa-licence-web/eservice/INTRANET/MohAduitCancelTask" fullpath="Audit/Cancel" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="List" fullpath="Audit/List" priority="100" microservice="Yes">
        <MenuItems>
          <MenuItem displayLabel="Manual Audit List" url="/hcsa-licence-web/eservice/INTRANET/MohAuditManualList" fullpath="Audit/List/Manual Audit List" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="System Audit List" url="/hcsa-licence-web/eservice/INTRANET/MohAduitSystemList" fullpath="Audit/List/System Audit List" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="TCU Audit List" url="/hcsa-licence-web/eservice/INTRANET/MohAduitTcuList" fullpath="Audit/List/TCU Audit List" priority="100" microservice="Yes"/>
        </MenuItems>
      </MenuItem>
    </MenuItems>
  </Menu>
  <Menu name="HALP_SYS_CONFIG" displayLabel="Configuration" fullpath="Configuration" priority="100" microservice="Yes">
    <MenuItems>
      <MenuItem displayLabel="Alerts, Notification and Letter Template Management" url="/system-admin-web/eservice/INTRANET/MohAlertNotificationTemplate" fullpath="Configuration/Alerts, Notification and Letter Template Management" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="Checklist Management" fullpath="Configuration/Checklist Management" priority="100" microservice="Yes">
        <MenuItems>
          <MenuItem displayLabel="Checklist Configuration Management" url="/hcsa-licence-web/eservice/INTRANET/MohChecklistConfiguration" fullpath="Configuration/Checklist Management/Checklist Configuration Management" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Checklist Item Management" url="/hcsa-licence-web/eservice/INTRANET/MohChecklistItem" fullpath="Configuration/Checklist Management/Checklist Item Management" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Regulation Management" url="/hcsa-licence-web/eservice/INTRANET/MohRegulation" fullpath="Configuration/Checklist Management/Regulation Management" priority="100" microservice="Yes"/>
        </MenuItems>
      </MenuItem>
      <MenuItem displayLabel="Error and Acknowledgement Messages Management" url="/system-admin-web/eservice/INTRANET/MohErrorMessage" fullpath="Configuration/Error and Acknowledgement Messages Management" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="Mass Email and SMS Management" fullpath="Configuration/Mass Email and SMS Management" priority="100" microservice="Yes">
        <MenuItems>
          <MenuItem displayLabel="Mass Email or SMS Distribution Management" url="/system-admin-web/eservice/INTRANET/MohMassEmailSMS" fullpath="Configuration/Mass Email and SMS Management/Mass Email or SMS Distribution Management" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Mass Email or SMS Blast Management" url="/system-admin-web/eservice/INTRANET/MohMassEmailBlast" fullpath="Configuration/Mass Email and SMS Management/Mass Email or SMS Blast Management" priority="100" microservice="Yes"/>
        </MenuItems>
      </MenuItem>
      <MenuItem displayLabel="Mass Email and SMS" fullpath="Configuration/Mass Email and SMS" priority="100" microservice="Yes">
        <MenuItems>
          <MenuItem displayLabel="Resend for Failed Email" url="/system-admin-web/eservice/INTRANET/MohEmailResend" fullpath="Configuration/Mass Email and SMS/Resend for Failed Email" priority="100" microservice="Yes"/>
        </MenuItems>
      </MenuItem>
      <MenuItem displayLabel="Master Code Management" url="/system-admin-web/eservice/INTRANET/MohMasterCode" fullpath="Configuration/Master Code Management" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="Online Appointment Management" fullpath="Configuration/Online Appointment Management" priority="100" microservice="Yes">
        <MenuItems>
          <MenuItem displayLabel="Define Blacked Out Dates" url="/system-admin-web/eservice/INTRANET/MohBlackedOutDate" fullpath="Configuration/Online Appointment Management/Define Blacked Out Dates" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Define Inspection Team's Weekly Non-Working Days" url="/system-admin-web/eservice/INTRANET/MohInspTeamNonWorkingDay" fullpath="Configuration/Online Appointment Management/Define Inspection Team's Weekly Non-Working Days" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Define Non-Availability" url="/system-admin-web/eservice/INTRANET/MohInspectorCalendar" fullpath="Configuration/Online Appointment Management/Define Non-Availability" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Define Preferred Date Range Period" url="/hcsa-licence-web/eservice/INTRANET/MohPreferredDateRangePeriod" fullpath="Configuration/Online Appointment Management/Define Preferred Date Range Period" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Define Public Holiday" url="/system-admin-web/eservice/INTRANET/MohPublicHoliday" fullpath="Configuration/Online Appointment Management/Define Public Holiday" priority="100" microservice="Yes"/>
        </MenuItems>
      </MenuItem>
      <MenuItem displayLabel="Performance Management" url="/hcsa-licence-web/eservice/INTRANET/MohKPIAndReminder" fullpath="Configuration/Performance Management" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="Risk Score Configuration" fullpath="Configuration/Risk Score Configuration" priority="100" microservice="Yes">
        <MenuItems>
          <MenuItem displayLabel="Financial Risk Configuration" url="/hcsa-licence-web/eservice/INTRANET/MohFinancialRiskSubConfig" fullpath="Configuration/Risk Score Configuration/Financial Risk Configuration" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Global Risk Configuration" url="/hcsa-licence-web/eservice/INTRANET/MohGolbalRiskSubConfig" fullpath="Configuration/Risk Score Configuration/Global Risk Configuration" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Individual Risk Configuration" url="/hcsa-licence-web/eservice/INTRANET/MohIndividualConfig" fullpath="Configuration/Risk Score Configuration/Individual Risk Configuration" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Leadership Risk Configuration" url="/hcsa-licence-web/eservice/INTRANET/MohLeadershipRiskSubConfig" fullpath="Configuration/Risk Score Configuration/Leadership Risk Configuration" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Legislative Risk Configuration" url="/hcsa-licence-web/eservice/INTRANET/MohLegislativeRiskSubConfig" fullpath="Configuration/Risk Score Configuration/Legislative Risk Configuration" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="License Tenure Risk Configuration" url="/hcsa-licence-web/eservice/INTRANET/MohLicTenureRiskSubConfig" fullpath="Configuration/Risk Score Configuration/License Tenure Risk Configuration" priority="100" microservice="Yes"/>
          <MenuItem displayLabel="Risk Weightage Configuration" url="/hcsa-licence-web/eservice/INTRANET/MohWeightageSubConfig" fullpath="Configuration/Risk Score Configuration/Risk Weightage Configuration" priority="100" microservice="Yes"/>
        </MenuItems>
      </MenuItem>
      <MenuItem displayLabel="Service Configuration" fullpath="Configuration/Service Configuration" priority="100" microservice="Yes">
        <MenuItems>
          <MenuItem displayLabel="HCSA Service Templates" url="/hcsa-licence-web/eservice/INTRANET/MohServiceConfig" fullpath="Configuration/Service Configuration/HCSA Service Templates" priority="100" microservice="Yes"/>
        </MenuItems>
      </MenuItem>
      <MenuItem displayLabel="Systems Parameter Management" url="/system-admin-web/eservice/INTRANET/MohSystemParameter" fullpath="Configuration/Systems Parameter Management" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="User and Role Management" fullpath="Configuration/User and Role Management" priority="100" microservice="Yes">
        <MenuItems>
          <MenuItem displayLabel="Users" url="/system-admin-web/eservice/INTRANET/MohIntranetUser" fullpath="Configuration/User and Role Management/Users" priority="100" microservice="Yes"/>
        </MenuItems>
      </MenuItem>
      <MenuItem displayLabel="Workload (Premises)" url="/hcsa-licence-web/eservice/INTRANET/MohPremiseWorkload" fullpath="Configuration/Workload (Premises)" priority="100" microservice="Yes"/>
    </MenuItems>
  </Menu>
  <Menu name="HALP_INSPECTION" displayLabel="Inspection" fullpath="Inspection" priority="100" microservice="Yes">
    <MenuItems>
      <MenuItem displayLabel="Rescheduling" url="/hcsa-licence-web/eservice/INTRANET/MohOfficerReScheduling" fullpath="Inspection/Rescheduling" priority="100" microservice="Yes"/>
    </MenuItems>
  </Menu>
  <Menu name="HALP_LIC_MANAGEMENT" displayLabel="Licence" fullpath="Licence" priority="100" microservice="Yes">
    <MenuItems>
      <MenuItem displayLabel="Licence Management" url="/hcsa-licence-web/eservice/INTRANET/MohLicenceManagement" fullpath="Licence/Licence Management" priority="100" microservice="Yes"/>
    </MenuItems>
  </Menu>
  <Menu name="HALP_ENQUIRY" displayLabel="Online Enquiry" fullpath="Online Enquiry" priority="100" microservice="Yes">
    <MenuItems>
      <MenuItem displayLabel="Application and Licence" url="/hcsa-licence-web/eservice/INTRANET/MohOnlineEnquiries" fullpath="Online Enquiry/Application and Licence" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="Professional" url="/hcsa-licence-web/eservice/INTRANET/MohProfessionalInformation" fullpath="Online Enquiry/Professional" priority="100" microservice="Yes"/>
    </MenuItems>
  </Menu>
  <Menu name="HALP_TASK_ASSIGNMENT" displayLabel="Task Assignment" fullpath="Task Assignment" priority="100" microservice="Yes">
    <MenuItems>
      <MenuItem displayLabel="Common Pool" url="/hcsa-licence-web/eservice/INTRANET/MohInspectionAllotTaskInspector" fullpath="Task Assignment/Common Pool" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="Supervisors Workgroup" url="/hcsa-licence-web/eservice/INTRANET/MohInspectionSupSearch" fullpath="Task Assignment/Super Pool" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="Task Reassignment" url="/hcsa-licence-web/eservice/INTRANET/MohInspectionReassignTask" fullpath="Task Assignment/Task Reassignment" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="System Admin Pool" url="/hcsa-licence-web/eservice/INTRANET/MohSystemPoolAssign" fullpath="Task Assignment/System Admin Pool" priority="100" microservice="Yes"/>
      <MenuItem displayLabel="Task List" url="/main-web/eservice/INTRANET/MohBackendInbox" fullpath="Task Assignment/Task List" priority="90" microservice="Yes"/>
    </MenuItems>
  </Menu>
  <Menu name="HALP_AUDIT_TRAIL" displayLabel="Audit Trail" fullpath="Audit Trail" priority="100" microservice="Yes">
    <MenuItems>
      <MenuItem displayLabel="View Audit Trail" url="/system-admin-web/eservice/INTRANET/MohAuditTrail" fullpath="Audit Trail/View Audit Trail" priority="100" microservice="Yes"></MenuItem></MenuItems></Menu></Menus>