
/* --------------------------------------------------
-    Extra Small Device, Phones 320 and BELOW
-------------------------------------------------- */
@media screen and (max-width : 320px) {
  /*Nav Tabs*/
  .nav-tabs > li > a 		{ font-size: 30px; padding: 5px 10px;}
  .navbar-default .navbar-nav > li > a { padding-bottom:3px;}
  .navbar-default .navbar-nav > li > a:first-child { top:-10px;}
  /*form Buttons*/
  .form .btn {margin-right: 0;clear: both;width:90%;}
  .form-group .btn {margin-right: 0;clear: both;width:90%;}
  /*Table*/
  .panel-heading .mesg-count 	{ width: 100%;}
  .panel-body {padding:0px; margin:0px;}
  /*Header Title*/
  .wrapper-content h4 {margin-left: 0px;}
  .wrapper-content .subheader {padding-left: 0px;}
  /*Fix StepbyStep Confirm Page Aligment*/
  .content-body div.control { display:block;}
  /*Signin Login Center*/
  .form-signin {margin:35px auto 0; position: relative; transform: translateY(0%) !important;}
  /*Navigation*/
  .dropdown-menu li > a:hover {color:#f8ca2c !important;background:#1448a6 !important; line-height:35px;}
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {white-space: normal;}
  /*Pagination*/
  .pagejump {margin-bottom:10px;}
  .titletext {
    float: none;
    margin-top: 10px;
  }
}
@media screen and (min-width : 320px) {
  .titletext {
    margin-top: 15px;
    float: left;
  }
}

@media screen and (max-width : 256px) {
  .titletext {
    margin-top: 10px;
    float: none;
    font-size: 13px;
  }
}
/* --------------------------------------------------
-         Super Small Device, Phones 360 
-------------------------------------------------- */
@media screen and (max-width : 360px) {
  /*Nav Tabs*/
  .nav-tabs > li > a 		{ font-size: 30px; padding: 5px 10px;}
  .nav-tabs > li > a span { display: none;}
  .navbar-default .navbar-nav > li > a:first-child { top:-10px;}
  /*form Buttons*/
  .form .btn {margin-right: 0;clear: both;width:100%;}
  .form-group .btn {margin-right: 0;clear: both;width:100%;}
  /*Table*/
  .panel-heading .mesg-count 	{ width: 100%;}
  .panel-body {padding:0px; margin:0px;}
  /*Header Title*/
  .wrapper-content h4 {margin-left: 0px;}
  .wrapper-content .subheader {padding-left: 0px;}
  /*Fix StepbyStep Confirm Page Aligment*/
  .content-body div.control { display:block !important;}
  /*Fix Login Background*/
  #login-bg { height:650px; }
  /*Signin Login Center*/
  .form-signin {margin:35px auto 0; position: relative;position: relative; transform: translateY(0%) !important;}
  /*Navigation*/
  .dropdown-menu li > a:hover {color:#f8ca2c !important;background:#1448a6 !important;}
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {white-space: normal;}
  /*Pagination */
  .pagejump {margin-bottom:10px; }
}
/* --------------------------------------------------
-         Extra Small Devices, Phones 480
-------------------------------------------------- */
@media screen and (max-width : 480px) {
  /*Nav Tabs*/
  .nav-tabs > li > a 		{ font-size: 30px; padding: 5px 10px;}
  .nav-tabs > li > a span { display: none;}
  .navbar-default .navbar-nav > li > a:first-child { top:-10px;}
  /*form Buttons*/
  .form .btn {margin-right: 0;clear: both;width:100%;}
  .form-group .btn {margin-right: 0;clear: both;width:100%;}
  /*Table*/
  .mesg-btn { margin: 0px !important;}
  .panel-heading .mesg-count 	{ width: 100%;}
  th {text-align:center;}
  table.noti_datatable th, table.noti_datatable tfoot tr td { padding-right:5px !important; word-break: break-all;}
  table.noti_datatable td { word-break: break-all;}
  /*Header Title*/
  .wrapper-content h4 {margin-left: 0px;}
  .wrapper-content .subheader {padding-left: 0px;}
  /*Fix StepbyStep Confirm Page Aligment*/
  .content-body div.control { display:block !important;text-align: center;}
  .content-body div.field {
    text-align: center !important;
    width: 0% !important;
  }
  .content-body div.field2 {
    text-align: center !important;
    width: 0% !important;
  }
  /*Signn Login Center*/
  .form-signin {margin:35px auto 0; position: relative;position: relative; transform: translateY(0%) !important;}
  /*Navigation*/
  .logo-text {font-size:14px !important; }
  .dropdown-menu li > a:hover {color:#f8ca2c !important; background:#1448a6 !important;}
  /*Pagination */
  .pagejump {float:right!important; margin-bottom:10px;}

  .fileUploadContainer .mf, .fileUploadContainer label{
    display: block;
  }
}
/* --------------------------------------------------
-               Tablets, Desktop 767
-------------------------------------------------- */
@media (max-width: 768px) {
  /*Nav Tabs*/
  .nav-tabs > li > a 		{ font-size: 30px; padding: 5px 10px;}
  .nav-tabs > li > a span { display: none;}
  .navbar-default .navbar-nav > li > a:first-child { top:-10px;}
  /*form Buttons*/
  .form .btn {margin-right: 0;clear: both;width:98%;}
  .form-group .btn {margin-right: 0;clear: both;width:100%;}
  /*Table*/
  .mesg-btn { margin: 0px !important;}
  .panel-heading .mesg-count  { width: 100%;}
  th {text-align:center;}
  table.noti_datatable th, table.noti_datatable tfoot tr td { padding-right:5px !important; word-break: break-all;}
  table.noti_datatable td { word-break: break-all; text-align:center;}
  .panel-darkBlue >.panel-footer > nav > ul > li {text-align:center !important;}
 /*Header Title*/
  .wrapper-content h4 {margin-left: 0px;}
  .wrapper-content .subheader {padding-left: 0px;}
  /*Signin Login Center*/
  .form-signin {margin:35px auto 0;}
  /*Navigation*/
  .navbar-default .navbar-nav .open .dropdown-menu>li>a { color:#ffffff;}
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {color:#f8ca2c; }
  .navbar-default .navbar-nav .open .dropdown-menu li {border-bottom:none !important;}
  .dropdown-menu li > a:hover {color:#f8ca2c !important;background:#1448a6 !important;}
  /*ModalPopupfixed*/
  .modal-open .modal {padding-left:20px !important;padding-right:20px !important;}
  /*MultiSteps*/
  .multi-steps > li:before {width:32px;height:32px;line-height:30px;}
  #pagination {float:none; text-align:center;}
  #paginationrow {margin:0px;}
  /*Popup*/
  .pop-up .content-body {
    text-align: center;
    padding: 10px 0px !important;
  }
  .modal-content body {
    text-align: center;
  }

    /*2 columns table layout*/

    table.columns2>tbody>tr>td.first{
        width: 100% !important;
        display: block;
        margin-bottom: 30px;
    }
    table.columns2>tbody>tr>td.last{
        width: 100% !important;
        display: block;
    }
}
/* --------------------------------------------------
-               Fix Login Height
-------------------------------------------------- */
@media(min-height:760px) and (max-height:1600px) {
  .form-signin {margin:35px auto 0; position: relative; transform: translateY(35%);}
}
/* --------------------------------------------------
-               Tablets, Desktop 991
-------------------------------------------------- */
@media screen and (max-width : 991px) {
  .otherresources, .border h1, h2, h3, h4, p { text-align: center;}
  /*Toggle To Menu*/
  .navbar-default .navbar-nav > li > a:first-child { top:-10px;}
  .navbar-header { float: none;}
  .navbar-toggle {display: block;}
  .navbar-collapse {border-top: 1px solid transparent;margin-top:6px;}
  .navbar-collapse.collapse { display: none!important;}
  .navbar-collapse.collapse.in {display: block!important;}
  .navbar-nav{float: none!important;margin:0px; padding-bottom:10px;border-right:none; overflow: auto; }
  .navbar-default .navbar-nav li {border-right:none; }
  .navbar-nav>li { float: none; }
  .navbar-nav>li>a { padding-top: 10px;padding-bottom: 10px; }
  .navbar-default .navbar-nav .open .dropdown-menu li {border-bottom:none !important;}
  .navbar-form {
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    width:auto;
    float:none!important;}
  /*Dropdown Menu*/
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;}
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header { padding: 5px 15px 5px 25px; }
    .navbar-nav .open .dropdown-menu > li > a {line-height: 30px;}
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {background-a : none;}
    table.columns2 table {
        width: 99%;
    }
}
/* --------------------------------------------------
-           Desktop 992 to 2560(30inc LCD)
-------------------------------------------------- */
@media (min-width: 992px) and (max-width: 2560px) {
    html, body, td, p, div, label, ul, li, .btn-round-lg, .displaypage { font-size: 100% !important; }
    .textmandatory{ font-size: 14px !important;}
    .btn-green {font-size: 14px !important;}
    .wrapper-content > ul > li {
        font-size: 100% !important;
    }

    /*2 columns table layout*/
    table.columns2 table {
        width: 99%;
    }
  .upload .content-body div.field {
    margin-left: -50px;
  }
}
@media (max-width: 480px) {
  .ui-dialog{
    width: 256px !important;
  }
}