.application-tab-footer {
    margin-top: 0;
    padding-top: 0;
    border-top: 1px solid #BABABA;
    margin-left: 0;
    margin-right: 0;
}
.withdraw-content-box {
    background-color: #fafafa;
    border-radius: 14px;
    padding: 20px;
    border:1px solid #d1d1d1;
    margin-bottom: 0;
}
.modal-header .close {
    padding: 1rem 1rem;
    margin: 0rem 0rem 0rem auto;
}
.withdraw-info-gp .withdraw-info-row .withdraw-info p:before {
    color: #a2d9e7;
}

.withdraw-info-gp .withdraw-info-row .withdraw-delete {
    margin-left: 20px;
    width: 70px;
    display: inline-block;
    text-align: right;
}