<?xml version='1.0' encoding='UTF-8'?>
<Menus>
  <Menu name="INTER_INBOX" displayLabel="InterInbox" fullpath="InterInbox" priority="0">
    <MenuItems>
      <MenuItem displayLabel="eServices" fullpath="InterInbox/eServices" priority="0">
        <MenuItems>
          <MenuItem displayLabel="Apply for a New Licence" url="/hcsa-licence-web/eservice/INTERNET/MohServiceFeMenu" fullpath="InterInbox/eServices/Apply for a New Licence" priority="0"/>
          <MenuItem displayLabel="Renew a Licence" fullpath="InterInbox/eServices/Renew a Licence" priority="0"/>
          <MenuItem displayLabel="Amend a Licence" fullpath="InterInbox/eServices/Amend a Licence" priority="0"/>
          <MenuItem displayLabel="Request to Cease a Licence" fullpath="InterInbox/eServices/Request to Cease a Licence" priority="0"/>
          <MenuItem displayLabel="Edit a Draft Application" fullpath="InterInbox/eServices/Edit a Draft Application" priority="0" microservice="Yes"/>
          <MenuItem displayLabel="Withdraw an Application" fullpath="InterInbox/eServices/Withdraw an Application" priority="0"/>
          <MenuItem displayLabel="View Appointments" url="/hcsa-licence-web/eservice/INTERNET/MohClientRescheduling" fullpath="InterInbox/eServices/View Appointments" priority="1" microservice="Yes"/>
        </MenuItems>
      </MenuItem>
      <MenuItem displayLabel="Premises List" url="/hcsa-licence-web/eservice/INTERNET/MohRfcPermisesList" fullpath="InterInbox/Premises List" priority="0"/>
      <MenuItem displayLabel="Personnel List" url="/hcsa-licence-web/eservice/INTERNET/MohRfcPersonnelList" fullpath="InterInbox/Personnel List" priority="0"/>
      <MenuItem displayLabel="Licensee Details" url="/main-web/eservice/INTERNET/MohLicenseeCompanyDetail" fullpath="InterInbox/Licensee Details" priority="0"></MenuItem></MenuItems></Menu></Menus>