label {
    font-weight: normal;
}


.table-info-display {
    margin: 20px 15px 25px 12px;
    background: #efefef;
    padding: 8px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.table-count {
    float: left;
    margin-top: 5px;
}
.nav {background-color: transparent;}
.nav ul.pagination {
    padding: 10px;
}

.nav ul.pagination > li {
    padding-left: 3px;
}

.dashboard-gp .dashboard-tile-item .dashboard-tile h1.dashboard-count {
    margin-left: -5px;
}



.push-float-field-xs, .push-float-field-sm, .push-float-field-md, .push-float-field-lg {
}

.gap{
    margin-top: 20px;
}

.box-shadow{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    box-shadow: 0 0 15px #00000059;
}

@media screen and (max-width: 768px) {
    .push-float-field-xs {
        margin-bottom: 44px;
    }
}

@media screen and (min-width: 768px) {
    .push-float-field-sm {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 992px) {
    .push-float-field-md {
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .push-float-field-lg {
        margin-bottom: 50px;
    }
}

ol.no-margin-list, ul.no-margin-list > li {
    margin: 0;
}