
/*--------------------------*/
/*** Column Sort Styling ***/
/*------------------------*/
.column-sort {
    float: left;
    display: block;
    margin: 0 8px 9px 0;
    width: 14px;
}

.column-sort .sort-up:active, .column-sort .sort-up.active {
    background-position: -30px 1px;
}
.fa:hover{
    cursor: pointer
}
.column-sort .sort-up {
    background-position: 0 1px;
}

.column-sort .sort-up,
.column-sort .sort-down {
    display: block;
    height: 10px;
    width: 13px;
}
.column-sort .sort-down {
    background-position: 0 bottom;
}

.mandatory{
    color: rgb(255,0,0);
}

.disabledColor{
    border-color: #ededed;
    color: #999;
}

.del-size-36::before{
    font-size:36px;
}

p, span {
    word-wrap: break-word;
}

.min-row .form-group {
    margin-bottom: 0 !important;
    line-height: 1.42857143;
}

.min-row .form-group strong, .min-row .form-group h3 {
    margin-bottom: 1%;
    line-height: 36px;
}

.min-row .form-group label {
    line-height: 1.42857143 !important;
    font-weight: normal;
}

.min-row .form-group p {
    line-height: 1.42857143;
    margin: 0;
}

.word-wrap {
    white-space: pre-line;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.form-horizontal label.control-font-label {
    font-weight: normal !important;
}

.hidden {
    display:none !important;
}

.alignctr a {
    margin-top: 8px;
    margin-bottom: 8px;
}