.multi-select-container {
    display: inline-block;
    position: relative;
   /* padding: 5px 9px;*/
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 1.9em;
    z-index: 1;
    float: left;
    min-width: 100%;
    background: #fff;
    margin: 1em 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

.multi-select-menuitem {
    display: block;
    font-size: 1.6rem;
    padding: 5px 35px;
    white-space: nowrap;
}

.multi-select-menuitem--titled:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    margin: 0 0 0.25em -20px;
}

.multi-select-menuitem--titledsr:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.multi-select-menuitem + .multi-select-menuitem {
    padding-top: 0;
}

.multi-select-presets {
    border-bottom: 1px solid #ddd;
}

.multi-select-menuitem input {
    position: absolute;
    margin-top: 0.25em;
    margin-left: -20px;
}

.multi-select-button {
    display: inline-block;
    font-size: 1.6rem;
    padding: 4px 45px 4px 15px;
    min-width: 100%;
   /* max-height: 22px;
    max-width: 20px;*/
    white-space: normal;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: -0.5em;
    background: #efefef;
  /* Old browsers */
  background: -moz-linear-gradient(left, #efefef 0%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #efefef 0%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #efefef 0%, white 100%);
    border: 1px solid #6c6c6c;
    border-radius: 16px; 
    cursor: default;
}

.multi-select-button:after { 
    display: inline-block;
     height: 22px;
    width: 20px;
    line-height: 22px;
    top: 50%;
    margin-top: -11px;
    right: 18px;
    position: absolute;
    /*border-style: solid;
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: #999 transparent transparent transparent;*/
    content: "ï„‡";
    font-family: fontawesome;
    font-size: 30px;
    color: #6c6c6c;
    margin-left: 0.4em;
    /*vertical-align: 0.1em;*/
}

.multi-select-container--open .multi-select-menu {
    display: block;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
    /* Avoid border/padding on menu messing with JavaScript width calculation */
    box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
    /* Allow labels to line wrap when menu is artificially narrowed */
    white-space: normal;
}
