<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="filelog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/usr/local/tomcat/logs/egpcloud.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/local/tomcat/logs/egpcloud.log.%d{'yyyy-MM-dd'}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{30}:%L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="bigdatalog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/usr/local/tomcat/logs/egpcloud-bigdata.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/usr/local/tomcat/logs/egpcloud-bigdata.log.%d{'yyyy-MM-dd'}</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level %logger{30}:%L - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="filelog"/>
    </root>
    <logger name="sop.bigdata.log.appender" level="DEBUG" additivity="false">
        <appender-ref ref="stdout"/>
        <appender-ref ref="bigdatalog"/>
    </logger>
    <logger name="com.ecquaria.cloud" level="DEBUG">
    </logger>
    <logger name="sop.process.debug" level="DEBUG">
    </logger>
    <logger name="feign" level="DEBUG">
    </logger>

</configuration>