.top_left				{background-image:url(../../../images/kpiwidget/top_left.gif);}
.top_middle				{background-image:url(../../../images/kpiwidget/top_middle.gif);}
.top_right				{background-image:url(../../../images/kpiwidget/top_right.gif);}
.center_left			{background-image:url(../../../images/kpiwidget/center_left.gif);}
.center_middle			{background-image:url(../../../images/kpiwidget/center_middle.gif);}
.center_middle_spacer	{background-image:url(../../../images/kpiwidget/center_middle.gif);}
.center_right			{background-image:url(../../../images/kpiwidget/center_right.gif);}
.bottom_left			{background-image:url(../../../images/kpiwidget/bottom_left.gif);}
.bottom_middle			{background-image:url(../../../images/kpiwidget/bottom_middle.gif);}
.bottom_right			{background-image:url(../../../images/kpiwidget/bottom_right.gif);}

.center_middle_spacer{
	width:20px;
}

.main_table *{
	font-family: Tahoma;
}

.main_table td{
	padding : 0;
}

.top_left{	
	width:9px;
	height:26px;
}

.top_middle{	
	width:9px;
	height:26px;
	text-align:center;
}

.top_right{	
	width:9px;
	height:26px;
}

.center_left{	
	width:9px;
	height:89px;
}

.center_middle{	
	width: 80px;
	height:89px;
}

.center_right{	
	width:9px;
	height:89px;
}

.bottom_left{	
	width:9px;
	height:5px;
}

.bottom_middle{	
	width:9px;
	height:5px;
}

.bottom_right{	
	width:9px;
	height:5px;
}

.spacer_div{
	width:9px;
	height:26px;
}

.header_span{
	white-space: nowrap;				
	font-size: 13px;
	color: #FFFFFF;
	font-weight: bold;
}

.spacer_group{
	width:1px;
}

.spacer_group_spacer{
	width:2px;
}

.label_span{
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
}

.inner_table{
	width: 100%;
}

.inner_table_td{
	text-align:center;
}

.data_construct_header{
	font-size: 13px;
	font-weight: bold;
	text-align:center;
}

.data_construct_value{
	font-size: 11px;
	text-align:center;
}

.declareyourowncssforcriticalnotzero{
	background-color: RED;
	color: #FFFFFF;
}

.declareyourowncssforwarningnotzero{
	background-color: YELLOW;
	color: #000000;
}


.main_table {
	width: auto;
}

.main_table table, .main_table td, .main_table th {
	vertical-align: top;
}

.main_table table.inner_table {
	width: 100% !important;
}

.left_div {
	float: left;
	height: 31px;
	width: 45%;
	background-position: 100% 0;
}
.right_div {
	float: right;
	height: 31px;
	width: 45%;
	background-position: 0 0;
}
.show_arrow {
	background-repeat: no-repeat;
	background-image: url(../../../images/kpiwidget/arrow.png) !important;
	background-image: url(../../../images/kpiwidget/arrow.gif); /* hack for IE6 transparency issue */
}

.kpi-widget-stage {
	position: relative;
}

.kpi-widget-bubble {
	width: 31px;
	height: 31px;
	left: 50% !important;
	left: 0;
	margin-left: -15px;
	position: absolute;
}

.kpi-widget-bubble-button-0 {
	background-image: url(../../images/kpiwidget/button-empty.png);
}

.kpi-widget-bubble-button-1 {
	background-image: url(../../images/kpiwidget/button-blue.png);
}

.kpi-widget-bubble-button-2 {
	background-image: url(../../images/kpiwidget/button-green.png);
}

.kpi-widget-bubble-button-3 {
	background-image: url(../../images/kpiwidget/button-orange.png);
}

.kpi-widget-bubble-button-4 {
	background-image: url(../../images/kpiwidget/button-red.png);
}

.connector_arrow {
	float: left;
	width: 100%;
	height: 31px;
	background-repeat: no-repeat;
	background-position:50% 0;
	background-image: url(../../images/kpiwidget/arrow.png) !important;
	background-image: url(../../images/kpiwidget/arrow.gif); /* hack for IE6 transparency issue */
}

#demoContainer div.sla-segment-wrapper{
	padding:0;
	margin: 10px 2px 0;
}